*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Plain Light';
}

html, body {
    height: 100%;
    width: 100%;
}
#crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    
    border: 1px solid white;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgb(8, 8, 8);
    padding: 20vh 20vw;
}

.line h1{
    font-size: 6vw;
     
}
.line h2{
    font-size: 4vw;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.line{
    overflow: hidden;
    height: fit-content;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
#line1part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1vw;
    font-size: 4vw;
    width: 20vw;

}
#line1part1 h5, #line1part1 h6{
    font-family: 'silk serif';
    font-weight: 200;
    width: 9vw;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px rgb(246, 241, 238);
        color: white;
        opacity: 0;
    }
    46%{
        font-family: "plain light";
        -webkit-text-stroke: 1px rgb(250, 248, 247);
        color: white;
        opacity: 1;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px rgb(248, 244, 243);
        color: transparent;
        opacity: 0;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px rgb(249, 246, 245);
        color: transparent;
        opacity: 1;
    }
}

#main{
    position: relative; 
    background-color: black;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(3, 3, 3);
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    color: #f6e8e8;
    
}
#page1 #nav img{
   color: rgb(45, 103, 153);
   font-size: 20PX;  

}
#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav h4{
    font-size: 0.9vw;
}

.hero{
    /* background-color: #df0a0a; */
    width: 70%;
    margin-left: 30%;
    height: fit-content;
    position: relative;
    z-index: 999;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero:nth-child(2){
    margin-top: 11vh;
}
.hero h1{
    font-size: 6vw;
    text-transform: uppercase;
    
}
.hero h2{
    font-size: 6vw;
    text-transform: uppercase;
    border-bottom: .5vw solid rgb(254, 250, 250);
    padding-bottom: .5vw;

}
.hero h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
}


#page2{
    height: 100vh;
    width: 100%;
    margin-top: 20vh;
    position: relative;
}

#videocontainer{
    height: 65vh;
    width: 70vw;
    position: relative;
    left: 28%;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/15/09/20/car-1093927_1280.jpg");
}
#videocontainer img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#videocontainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#videocursor{
    background-color: orange;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#videocursor i{
   color: black;
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(33, 26, 26);
    position: relative;

 
}
#page3 h1{
    margin-left: 29vw;
    font-size: 15vh;
    font-weight: 400;
    padding: 7vh 0;
    
}

#imagedivcontainer{
    background-color: red;
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imagediv{
    height: 33vh;
    width: 20vw;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}
.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(3, 0, 0);
    position: relative;
    padding-top: 5vh;
    border-bottom: 2px solid white;
    
}

#page4content{
    width: 72vw;
    position: relative;
    margin-left: 20vw;
}

#page4content h1{
    font-size: 7vw;
text-transform: uppercase;
}

#page4content .underline{
    height: .6vh;
    width: 100%;
    background-color: #fff;
    margin: 10vh;

}
#page4content p{
    font-size: 1.5vw;
    width: 50%;
    margin-bottom: 2vw;

}
#page4flex{
    display: flex;
  
}
#page4flex img{
width: 50%;
}
#page4flex p{
font-size: 0.9vw;
width: 10vw;
margin-left: 1vw;
}
#page4blue{
    background-color: #1a5a78;
    width: 30vw;
    min-height: 10vh;
    padding: 2vw 3vw;
    position: relative;
    margin-top: -23vh;
    margin-left: 23vw;
}
#page4blue p{
    font-size: 1vw;
width: 13vw;
}
.blueelem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
    padding: .5vw 0;
    border-bottom: 3px solid white;
}
.blueelem h4{
    font-size: 1.6vw;

    
}
.blueelem p{
    width: 0%;
 font-size: 1px;
    color: rgb(242, 245, 241);
}
#page5{
    min-height: 100vh;
    width: 100%;
position: relative;
}

.elem{
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-x: hidden;
}
.elem h1{
    font-size: 5vw;
    -webkit-text-stroke: 1px white;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    margin-right: 10px;
    animation-name: animate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes animate {
    from{
        transform: translateX(0);
    }
    
    to{
        transform: translateX(calc(-100% ));
    }
}

.elem2{
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-x: hidden;
}
.elem2 h1{
    font-size: 5vw;
    -webkit-text-stroke: 1px white;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    margin-right: 10px;
    transform: translateX(calc(-100% ));
    animation-name:animate ;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-direction: reverse;
}
#footer{
    height: 70vh;
    width: 100%;

    position: relative;
    padding-left:20vw;
    
}
#footer h1{
    font-size: 5vw;
    width: 60vw;
   text-transform: uppercase;
    margin-left: 8vw;
    margin-bottom: 4vh;
   
}
.underline{
height: 4px;
width: 100%;
background-color: #fff;
 margin: .6vw 0;
}

#footerelem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#footerelem h6{
    font-size: 1vw;
    margin-bottom: 1.5vw;
    text-transform: uppercase;
}
.box{
    width: 20% ;
}

#footerelem h5{
    font-size: 1.2vw;
    margin: 0.2vh 0;
    font-weight: 300;
}

._canvas_container{
    z-index: 99999 !important;
    pointer-events: none;
}
